@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

header {
    background-color: rgb(37, 37, 37);
    padding: 30px;
}

header img {
    width: 70px;
    margin-right: 30px;
}

header span {
    color: orange;
    font-size: 30px;
}



/* main */
main {
    padding: 50px;
}

main h1, 
main h2,
main img {
    margin-bottom: 30px;
}

main img {
    width: 300px;
}

.grey {
    color: grey;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 30px;
}

/* bugatty */
.bugatty {
    background-image: url(img/02\ BUGATTI\ CSS\ Golden\ Era.jpg);
    background-size: cover;
    height: 750px;
    padding-top: 50px;
}

.bugatty p {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 40px;
}



/* footer */
footer {
    background-color: rgb(37, 37, 37);
    padding: 30px;
    border-top: 2px solid white;
}

footer .button {
    display: inline-block;

    background-color: orange;
    color: black;
    padding: 20px;
    width: 180px;

    border: 2px solid black;

    margin-right: 300px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

footer span {
    color: white;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
}